#container {
    background-color: rgb(128, 128, 128);
    display: inline-block;
    padding: 20px;
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#display {
    background-color: white;
    margin: 3px;
}


#displaytext {
    background-color: white;
    margin: 20px;
    text-align: right;
}


.button {
    font-size: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.button:hover {
    background-color: lightgray;
    border: 0px;
}

.extrabutton {
    background-color: rgb(142, 210, 255);
    border: 0px;
    font-size: 75px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.extrabutton:hover {
    background-color: rgb(81, 185, 255);
}